<div [@routerTransition]>
    <app-page-header [heading]="'Crear Cliente'" [icon]="'fa-edit'"></app-page-header>

    <h4>{{ 'Enter client information' | translate }}</h4>
    <div>
        <p>
            <ngb-alert *ngIf="alertSuccess" [type]="alert.type" (close)="close()">{{ alert.message }}</ngb-alert>
        </p>
    </div>

    <form role="form" [formGroup]="profileForm" (ngSubmit)="onSubmit()">

        <div class="form-group has-success">
            <label class="form-control-label" for="inputSuccess">{{'Name' | translate}}</label>
            <input formControlName="nombre" type="text" class="form-control form-control-success" id="inputSuccess">
        </div>

        <div class="form-group has-warning">
            <label class="form-control-label" for="inputWarning">{{'Last Name' | translate}}</label>
            <input formControlName="apellido" type="text" class="form-control form-control-warning" id="inputWarning">
        </div>

        <div class="form-group has-danger">
            <label class="form-control-label" for="inputError">{{'Telephone number' | translate}}</label>
            <input formControlName="telefono" type="number" class="form-control form-control-danger" id="inputError">
        </div>
        <div class="form-group has-danger">
            <label class="form-control-label" for="inputError">{{'Email' | translate}}</label>
            <input formControlName="correo" type="email" class="form-control form-control-danger" id="inputError">
        </div>
        <div class="form-group has-danger">
            <label class="form-control-label" for="inputError">{{'ID' | translate}}</label>
            <input formControlName="cedula" type="text" class="form-control form-control-danger" id="inputError">
        </div>
        <button type="submit" [disabled]="profileForm.status === 'INVALID'"
            class="btn btn-primary">{{'Save' | translate}}</button>
    </form>
</div>