<div [@routerTransition]>
    <app-page-header [heading]="'Consultar compras realizadas en la sucursal de conexión'" [icon]="'fa-edit'">
    </app-page-header>

    <h4>{{ 'Consult purchase' | translate }}</h4>

    <div>
        <p>
            <ngb-alert *ngIf="alertSuccess" [type]="alert.type" (close)="close()">{{ alert.message }}</ngb-alert>
        </p>
    </div>
    <form>
        <div class="form-group form-inline">
            <input placeholder="Type to search..." class="form-control ml-2" type="text" name="searchString"
                [(ngModel)]="searchString" />
        </div>
    </form>

    <div *ngIf="tableVisible" class="card-body table-responsive">
        <table class="card-body table" mdbTable>
            <thead class="black white-text">
                <tr>
                    <th scope="col">{{'Registry date' | translate }}</th>
                    <th>{{'Name' | translate}}</th>
                    <th>{{'Last name' | translate }}</th>
                    <th>{{'ID' | translate }}</th>
                    <th>{{'Description' | translate }}</th>
                    <th>{{'Amount' | translate }}</th>
                    <th>{{'Subtotal' | translate }}</th>
                    <th>{{'Tax' | translate }}</th>
                    <th>{{'Total' | translate }}</th>
                </tr>
            </thead>
            <tbody>
                <!-- <tr mdbTableCol *ngFor="let purchase of purchases | filter : 
                ['Nombre_cl', 'Apellido_cl', 'Cedula_cl', 'Fecha_Registro']
                : searchString; let i = index" class="table-info"> -->
                <tr mdbTableCol *ngFor="let purchase of purchases | filter : searchString; let i = index" class="table-info">
                    <th scope="row">{{purchase.Fecha_Registro}}</th>
                    <td>{{purchase.Nombre_cl}}</td>
                    <td>{{purchase.Apellido_cl}}</td>
                    <td>{{purchase.Cedula_cl}}</td>
                    <td>{{purchase.Descripcion_ar}}</td>
                    <td>{{purchase.Cantidad_vd}}</td>
                    <td>{{purchase.SubTotal_ve | currency}}</td>
                    <td>{{purchase.Impuesto_ve | currency}}</td>
                    <td>{{purchase.Total_ve | currency}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>