<div class="login-page">
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <h1>Bienvenido</h1>
            <div>
                <p>
                    <ngb-alert *ngIf="alertSuccess" [type]="alert.type" (close)="close()">{{ alert.message }}</ngb-alert>
                </p>
            </div>
            <form #loginForm="ngForm" role="form">
                <div class="form-content">
                    <div class="form-group" ngbDropdown #myDrop="ngbDropdown">
                        <a class="btn rounded-btn" ngbDropdownToggle>{{selectItem}} </a>
                        <div ngbDropdownMenu>
                            <button class="dropdown-item" (click)="changeSortOrder(item)"
                                *ngFor="let item of data">{{item.Nombre_su}}</button>
                        </div>
                    </div>
                </div>
                <a [routerLink]="['/dashboard']" class="btn rounded-btn" (click)="onLoggedin()"> Entrar </a>
                &nbsp;
            </form>

        </div>
    </div>
</div>