<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <div class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'Dashboard' | translate }}
        </a>
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('client')">
                <span><i class="fa fa-plus"></i>&nbsp; {{ 'Client' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'client'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['/forms']" [routerLinkActive]="['router-link-active']" href="javascript:void(0)"><span>{{ 'Create' | translate }}</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/consult']" [routerLinkActive]="['router-link-active']" href="javascript:void(0)"><span>{{ 'Consult' | translate }}</span></a>
                    </li>
                </ul>
            </li>
        </div>
        <a [routerLink]="['/inventary']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-th-list"></i>&nbsp;{{ 'Consult Inventary' | translate }}
        </a>
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('purchase')">
                <span><i class="fa fa-plus"></i>&nbsp; {{ 'Purchase' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'purchase'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['/new-purchase']" [routerLinkActive]="['router-link-active']" href="javascript:void(0)"><span>{{ 'New purchase' | translate }}</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/consult-purchase']" [routerLinkActive]="['router-link-active']" href="javascript:void(0)"><span>{{ 'Consult purchase' | translate }}</span></a>
                    </li>
                </ul>
            </li>
        </div>
        <div class="header-fields">
            <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('profile')">
                    <span><i class="fa fa-user"></i>&nbsp; Hello</span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'profile'">
                    <ul class="submenu">
                        <li>
                            <a [routerLink]="['/login']" (click)="onLoggedout()">
                                <span><i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' | translate }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
        </div>
    </div>
</nav>
