<div [@routerTransition]>
    <app-page-header [heading]="'Consultar Cliente'" [icon]="'fa-edit'"></app-page-header>

    <h4>{{ 'Inventary' | translate }}</h4>
    <div>
        <p>
            <ngb-alert *ngIf="alertSuccess" [type]="alert.type" (close)="close()">{{ alert.message }}</ngb-alert>
        </p>
    </div>

    <div class="row">
        <div class="col-6">
            <button type="submit" (click)="exportAs('pdf')"
                class="btn rounded-btn">{{'Export to PDF format' | translate}}</button>
        </div>
        <div class="col-6">
            <button type="submit" (click)="exportAs('xlsx')"
                class="btn rounded-btn">{{'Export to Excel format' | translate}}</button>
        </div>
    </div>

    <div *ngIf="data" class="card-body table-responsive">
        <table class="card-body table" id="mytable">
            <thead>
                <tr>
                    <th>{{'Registry date' | translate}}</th>
                    <th>{{'Description' | translate }}</th>
                    <th>{{'Available' | translate }}</th>
                    <th>{{'Price' | translate }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let info of data" class="table-info">
                    <th scope="row">{{info.FechaRegistro}}</th>
                    <td>{{info.Descripcion}}</td>
                    <td>{{info.Disponible}}</td>
                    <td>{{info.Precio | currency}}</td>
                </tr>
            </tbody>
        </table>
    </div>


</div>